{% extends 'base.html' %}
{% block app_list %}{% endblock %}
{% block main_nav %}{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
    <div id="container" class="container">
    <div id="content" class="content single-content bg-gray" style="margin-top: 40px;">
        <div id="formwrapper">
            <form action="{{ url_for('accounts_bp.login') }}" method="post" name="apLogin" id="apLogin">
                <div class="title clearfix">
                    <span class="left">找回密码</span>
                </div>
                <div  class="item">
                    <label><input type="text"  placeholder="Email或注册手机号码" name="email_phone" id="email_phone" size="20" maxlength="30" /></label>
                </div>
                <div class="item cookiechk" style="position: relative;">
                    <label><input class="text" type="text" placeholder="验证码" name="code" /></label>
                    <img style="position: absolute; right: 0;" src="images/15.jpg">
                </div>

                <div class="item">
                    <input name="reset-submit" type="submit" class="button" value="提交" />
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}