{% extends 'base.html' %}
{% block app_list %}{% endblock %}
{% block main_nav %}{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
    <div id="container" class="container">
    <div id="content" class="content single-content bg-gray" style="margin-top: 40px;">
        <div id="formwrapper">
            <form action="{{ url_for('accounts_bp.login') }}" method="post" name="apLogin" id="apLogin">
                <div class="title">登录</div>
                <div class="item">
                    <input type="text" placeholder="用户名" name="username" id="username" size="20" maxlength="30" />
                    <br>
                </div>
                <div  class="item">
                    <input type="password" placeholder="密码" name="password" id="password" size="20" maxlength="30" />
    
                </div>
                <div class="item cookiechk">
                    <label><input class="checkbox" type="checkbox" name="remember" id="remember" value="1" />记住我</label>
                </div>
                <div class="item">
                    <input name="register-submit" type="submit" class="button" value="提交" /> 
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}