{% extends 'base.html' %}

{% block navigation %}
<div id="sidebar" class="sidebar">
   <ul id="sidebar-nav">
    <li class="has-sub-nav"> <a href="#">Panel设置</a>
     <ul class="sub-nav">
      <li><a href="{{ url_for('panel.show') }}">调试模式</a></li>
      <li><a href="{{ url_for('panel.demo') }}">演示模式</a></li>
      <li><a href="{{ url_for('panel.real') }}">真实模式</a></li>
     </ul>
    </li>
   </ul>
  </div>
{% endblock %}

{%  block content %}
<script src="{{ url_for('static', filename='scripts/panel.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/panel.css') }}">

<div id="container" class="container">
    <div id="content" class="content" style="min-height: 678px; margin-top: 40px;">
        <select id="select_tracker" class="filter-sl">
            <option value="all">Select All</option>
            {% for item in tracker_list %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>

        <ul id="motion" class="filter-ul">
            <label><strong>动作: </strong></label><br>
            {% for key, value in motion_dict.iteritems()%}
            <li class=""><input type="radio" name="test" value="{{value}}"/> {{key|translate_motion}}</li>
            {% endfor %}
        </ul>

        <ul id="context" class="filter-ul">
            <label><strong>情境:</strong></label><br>
            {% for item in context_list%}
            <li class=""><input type="radio" name="test" value="{{item}}" /> {{item|translate_context}}</li>
            {% endfor %}
        </ul>
        <input class="btn" id="btn" type="button" value="Submit"/>
    </div>
</div>
{%  endblock %}


