{% extends 'base.html' %}
{% block navigation %}
{% endblock %}

{%  block content %}
<div id="container" class="container">
    <div id="content" class="content" style="padding-top: 55px;">
        <select class="filter-sl">
            <option>Select All</option>
            {% for item in tracker_list %}
                <option>{{ item }}</option>
            {% endfor %}
        </select>

        <ul id="motion" class="filter-ul">
            <label><strong>Motion: </strong></label><br>
            {% for key, value in motion_dict.iteritems()%}
            <li class=""><input type="radio" name="test" value="{{value}}"/> {{key|translate_motion}}</li>
            {% endfor %}
        </ul>

        <ul id="context" class="filter-ul">
            <label><strong>Context:</strong></label><br>
            {% for item in context_list%}
            <li class=""><input type="radio" name="test" value="{{item}}" /> {{item|translate_context}}</li>
            {% endfor %}
        </ul>
        <input class="btn" id="btn" type="button" value="Submit"/>
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/panel.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/panel.css') }}">
{%  endblock %}
