{% extends 'base.html' %}
{% block navigation %}
<div id="sidebar" class="sidebar">
    <ul id="sidebar-nav">
        <li class="active"><a href="#">基础信息</a></li>
        <li class="has-sub-nav"> <a href="#">动态信息</a>
            <ul class="sub-nav">
                <li><a href="#">位置信息</a></li>
                <li><a href="#">情境信息</a></li>
                <li><a href="#">事件信息</a></li>
                <li><a href="#">状态信息</a></li>
            </ul>
        </li>
    {#    <li><a href="#">~~情景</a></li>#}
    {#    <li><a href="#">~~事件</a></li>#}
    </ul>
</div>
{% endblock %}
{%  block content %}
<div id="container" class="container">
    <div id="content" class="content" style="padding-top: 55px; padding-left: 20px; width: 700px">
        <ul id="motion" style="float: left">
            <label><strong>Motion: </strong></label><br>
            {% for key, value in motion_dict.iteritems()%}
            <li style="float: left; margin: 10px"><input type="radio" name="test" value="{{value}}"/> {{key}}</li>
            {% endfor %}
        </ul>

        <ul id="context" style="float: left">
            <label><strong>Context:</strong></label><br>
            {% for item in context_list%}
            <li style="float: left; margin: 10px"><input type="radio" name="test" value="{{item}}" /> {{item}}</li>
            {% endfor %}
        </ul>
        <input style="float: left; margin: 10px; width: 100px" id="btn" type="button" value="Submit"/>

    </div>
</div>
<script src="{{ url_for('static', filename='scripts/panel.js') }}"></script>
{%  endblock %}
