{% extends 'base.html' %}
{% block navigation %}
<div id="sidebar" class="sidebar">
    <ul id="sidebar-nav">
        <li class="active"><a href="#">基础信息</a></li>
        <li class="has-sub-nav"> <a href="#">动态信息</a>
            <ul class="sub-nav">
                <li><a href="#">位置信息</a></li>
                <li><a href="#">情境信息</a></li>
                <li><a href="#">事件信息</a></li>
                <li><a href="#">状态信息</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
{%  block content %}
<div id="container" class="container">
    <div id="content" class="content clearfix" style="padding-top: 55px;">
        <ul id="motion" class="filter-ul">
            <label><strong>Motion: </strong></label><br>
            {% for key, value in motion_dict.iteritems()%}
            <li class="clearfix"><input type="radio" name="test" value="{{value}}"/> {{key}}</li>
            {% endfor %}
        </ul>

        <ul id="context" class="filter-ul">
            <label><strong>Context:</strong></label><br>
            {% for item in context_list%}
            <li class="clearfix"><input type="radio" name="test" value="{{item}}" /> {{item}}</li>
            {% endfor %}
            <li><input class="btn" id="btn" type="button" value="Submit"/></li>
        </ul>


    </div>
</div>
<script src="{{ url_for('static', filename='scripts/panel.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/panel.css') }}">
{%  endblock %}
