.clearfix {
  /**zoom: 1;*/
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 1;
  content: "";
}
.filter-ul {
    list-style: none;
    width: 50%;
    padding: 10px;
    margin-left: 30px;
    /*border-left: 1px solid #ddd;*/
    /*float: left;*/
}
.filter-sl {
    list-style: none;
    padding: 10px;
    margin-left: 30px;
    /*border-left: 1px solid #ddd;*/
}
.btn {
    background: rgba(51, 204, 204, 1);
    border: 1px solid rgba(51, 204, 204, 1);
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 3px;
    margin-left: 30px;
    color: #fff;
    width: 100px;
}


.left {
    /*float: left;*/
}
.right {
    /*float: right;*/
}

.radio {
    display: inline-block;
}

.select {
    display: inline-block;
    width: 180px;
    height: 35px;
}

.filter-ul li {
    padding: 5px 0;
    display: inline;
}

.filter-ul li .select {
    /*float: right;*/
}

