{% extends 'base.html' %}

{% block navigation %}
<div id="sidebar" class="sidebar">
   <ul id="sidebar-nav">
    <li class="has-sub-nav"> <a href="#">Panel设置</a>
     <ul class="sub-nav">
      <li><a href="{{ url_for('panel.show') }}">调试模式</a></li>
     </ul>
    </li>
   </ul>
  </div>
{% endblock %}

{%  block content %}
<script src="{{ url_for('static', filename='scripts/panel.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/panel.css') }}">

<div id="container" class="container">
    <div id="content" class="content pd40" style="min-height: 678px; margin-top: 40px;">
        <select id="select_tracker" class="filter-sl">
            <option value="all">Select All</option>
            {% for item in tracker_list %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>

        <ul id="motion" class="filter-ul">
            <label><strong>动作: </strong></label><br>
            {% for v in motion_list %}
            <li class=""><input type="radio" {% if loop.index0 == 0 %} checked="checked" {% endif %} name="motion" value="{{v}}"/> {{v|translate("motion")}}</li>
            {% endfor %}
        </ul>

        <ul id="context" class="filter-ul">
            <label><strong>情境:</strong></label><br>
            {% for v in context_list %}
            <li class=""><input type="radio" {% if loop.index0 == 0 %} checked="checked" {% endif %} name="context" value="{{v}}" /> {{v|translate("context")}}</li>
            {% endfor %}
        </ul>
        <input class="btn" id="btn" type="button" value="提交"/>
        <div class="alert" style="display:none; color: red; margin-left: 40px" id="error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    </div>
</div>
{%  endblock %}


