{% extends 'base.html' %}
{% block navigation %}
 <div id="sidebar" class="sidebar">
   <ul id="sidebar-nav">
    <li><a href="#">Android配置</a></li>
    <li><a href="#">IOS配置</a></li>
     <ul class="sub-nav">
     </ul>
    </li>
   </ul>
  </div>
{% endblock %}

{% block content %}
<div id="container" class="container">
    <div id="content" class="content" style="min-height: 678px;margin-top: 40px;">
        <div id="integration">
        </div>
    </div>
</div>
{% endblock %}
<script>
(function(){

}).call(this);
</script>