{% extends 'settings/create.html' %}

{%  block content %}
<div id="container" class="container">
    <div id="content" class="content pd40" style="min-height: 678px; margin-top: 40px;">
        <div id="settings">
            <h3>该应用的appkey为：</h3>
            <input type="text" size="36" name="app_key" value="{{ app_key }}" readonly />
            <p>
                每个应用对应的APPKEY是唯一的，请在集成SDK时将此APPKEY添加到代码中。
                你可以查看指引或者按照下面的<a href="{{ url_for('integration.show') }}">集成文档</a>集成SDK，
                或返回<a href="{{ url_for('settings.manage_app') }}">App列表</a>
            </p>
        </div>
    </div>
</div>
{%  endblock %}

{% block app_select %}
<script>
var post_url = function(){
    var obj = document.getElementById("select_app");
    document.getElementById("app_name").value = obj.options[obj.selectedIndex].text;
    document.getElementById("app_id").value = obj.value;
    document.getElementById("app_key").value = obj.options[obj.selectedIndex].id;
    var cur_url = window.location.href;
    $.post("/", {app_id: obj.value}, function () {
        window.location.href = cur_url;
    });
};
 post_url();
</script>
{% endblock %}

