{% extends 'base.html' %}

{% block navigation %}
<div id="sidebar" class="sidebar">
   <ul class="sub-nav">
    <li> <a href="{{ url_for('settings.add_app') }}">添加应用</a></li>
    <li> <a href="{{ url_for('settings.manage_app') }}">管理应用</a></li>
    <li> <a href="{{ url_for('settings.upload') }}">证书上传</a></li>
   </ul>
  </div>
{% endblock %}


{%  block content %}
<div id="container" class="container">
    <div id="content" class="content pd40" style="min-height: 678px; margin-top: 40px;">
        <div id="settings">
            <div class="ng-scope">
            <form action="{{ url_for('settings.add_app') }}" method="post">
                <div style="display: inline-block;">
                    <label>应用名称: <input type="text" size="36" name="app_name" placeholder="app_name" required/></label>
                </div>
                <div style="display: inline-block;margin-left: 10px;">
                    <label>应用类型: <select name="app_type">
                        <option>社交应用</option>
                        <option>地图导航</option>
                        <option>网购支付</option>
                        <option>通话通讯</option>
                        <option>生活消费类</option>
                        <option>查询工具</option>
                        <option>拍摄美化</option>
                        <option>影音播放</option>
                        <option>图书阅读</option>
                        <option>浏览器</option>
                        <option>新闻资讯</option>
                    </select></label>
                </div>
                <div style="margin-top: 10px;"><input type="submit" id="create-app" value="提交并获取APP KEY" ></div>
            </form>
            </div>
        </div>
    </div>
</div>
{%  endblock %}

<script>
{% block app_select %}
var post_url = function(){
    var obj = document.getElementById("select_app");
    var cur_url = window.location.href;
    document.getElementsByName('appId').value = obj.value;
    $.post("/", {app_id: obj.value}, function () {
        window.location.href = cur_url;
    });
};
{% endblock %}
</script>

