{% extends 'settings/create.html' %}

{%  block content %}
<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        border-left: 1px solid #888;
        border-top: 1px solid #888;
    }
    th, td {
        border-right: 1px solid #888;
        border-bottom: 1px solid #888;
        padding: 5px 15px;
    }
    th {
        font-weight: bold;
    }
    #content {
        text-align: center;
        width: 100%;
        height: 300px;
    }
    .hide {
        display: none;
    }
    .edit_btn,
    .del_btn {
        width: 30px;
        height: 30px;
    }
</style>
<div id="container" class="container">
    <div id="content" class="content pd40" style="min-height: 678px; margin-top: 40px;">
        <div id="settings">
            <div class="ng-scope">
            <table id="table" align="center">
				<tr>
					<th style="width: 200px;background: #dedede;">应用名</th>
					<th style="background: #dedede;">AppId</th>
					<th style="background: #dedede;">AppKey</th>
					<th style="width: 200px;background: #dedede;">应用类型</th>
					<th style="background: #dedede;">创建时间</th>
					<th style="background: #dedede;">编辑应用</th>
				</tr>
                {% for app in app_list %}
                    <tr id={{ app['app_id'] }}>
                        <td>
                            <input type="text" name="app_name" class="hide" value={{ app['app_name'] }} />
                            <label for="app_name">{{ app['app_name'] }}</label>
                        </td>
                        <td>
                            <input type="text" name="app_id" class="hide" value={{ app['app_id'] }} />
                            <label for="app_id">{{ app['app_id'] }}</label>
                        </td>
                        <td>
                            <input type="text" name="app_key" class="hide" value={{ app['app_key'] }} />
                            <label for="app_key">{{ app['app_key'] }}</label>
                        </td>
                        <td>
                            <select name="app_type" class="hide">
                                <option>社交应用</option>
                                <option>地图导航</option>
                                <option>网购支付</option>
                                <option>通话通讯</option>
                                <option>生活消费类</option>
                                <option>查询工具</option>
                                <option>拍摄美化</option>
                                <option>影音播放</option>
                                <option>图书阅读</option>
                                <option>浏览器</option>
                                <option>新闻资讯</option>
                            </select>
                            <label for="app_type">{{ app['app_type'] }}</label>
                        </td>
                        <td>
                            <input type="text" name="createdAt" class="hide" value={{ app['createdAt'] }} />
                            <label for="createdAt">{{ app['createdAt'] }}</label>
                        </td>
                        <td>
                            <img style="width: 25px;height: 25px;" src="{{ url_for('static', filename='images/iconfont-edit.png') }}" class="edit_btn"> </img>
			                <img style="width: 25px;height: 25px;" src="{{ url_for('static', filename='images/iconfont-delete.png') }}" class="del_btn"> </img>
                        </td>
                    </tr>
                {% endfor %}
			</table>

            </div>
        </div>
    </div>
</div>
{%  endblock %}

<script>
{% block app_select %}
    $(".edit_btn").click(function() {
        var id = $(this).closest('tr').attr('id');
        var edit_obj = $('#' + id);
        edit_obj.find("label[for='app_name']").hide();
        edit_obj.find("input[name='app_name']").show();
        edit_obj.find("label[for='app_type']").hide();
        edit_obj.find("select[name='app_type']").show();
    });

    $(".del_btn").click(function() {
        var id = $(this).closest('tr').attr('id');
        if (confirm("确认删除改应用？")) {
            $.post("/manage", {app_id: id}, function(){
                $('#' + id).remove();
            });
        }
    });
    $(".hide").blur(function() {
        var that = this;
        var id = $(this).closest('tr').attr('id');
        if($(this).attr('name') == 'app_name'){
            $.post("/modify", {app_id: id, app_name: $(this).val()}, function () {
                console.log('modify app_name success');
                var edit_obj = $('#' + id);
                edit_obj.find("input[name='app_name']").hide();
                edit_obj.find("label[for='app_name']").text($(that).val());
                edit_obj.find("label[for='app_name']").show();
            });
        }
        if($(this).attr('name') == 'app_type'){
            $.post("/modify", {app_id: id, app_type: $(this).val()}, function () {
                console.log('modify app_type success');
                var edit_obj = $('#' + id);
                edit_obj.find("select[name='app_type']").hide();
                edit_obj.find("label[for='app_type']").text($(that).val());
                edit_obj.find("label[for='app_type']").show();
            });
        }
    });
    var post_url = function(){
        $.post("/", {app_id: $('#select_app').val()}, function () {});
    };
{% endblock %}
</script>

