{% extends 'settings/create.html' %}

{%  block content %}
<div id="container" class="container">
    <div id="content" class="content pd40" style="min-height: 678px; margin-top: 40px;">
        <div id="settings">
            <div class="ng-scope">
            <form action="{{ url_for('settings.manage_app') }}" method="post" onsubmit="return confirm('确定删除该应用?');">
                <div><label>App Name</label><div>
                    <input id="app_name" type="text" size="36" name="app_name" value="{{ app_name }}" readonly></div></div>
                <div><label>App ID</label><div>
                    <input id="app_id" type="text" size="36" name="app_id" value="{{ app_id }}" readonly></div></div>
                <div><label>App Key</label><div>
                    <input id="app_key" type="text" size="36" name="app_key" value="{{ app_key }}" readonly></div></div>

                    <div><button type="submit" id="delete-app">删除应用</button></div>
            </form>

{#                <table border="1" cellpadding="10">#}
{#                    {% if app_list %}#}
{#                    <tr>#}
{#                        <th>应用名</th>#}
{#                        <th>appkey</th>#}
{#                        <th>应用类型</th>#}
{#                        <th>创建时间</th>#}
{#                        <th>编辑应用</th>#}
{#                    </tr>#}
{#                    {% endif %}#}
{##}
{#                    {% for app in app_list %}#}
{#                    <tr>#}
{#                        <td>{{ app.get('app_name') }}</td>#}
{#                        <td>{{ app.get('app_key') }}</td>#}
{#                        <td>{{ app.get('app_type') }}</td>#}
{#                        <td>{{ app.get('createdAt') }}</td>#}
{#                        <td><a href="#">b</a> <a href="#">a</a></td>#}
{#                    </tr>#}
{#                    {% endfor %}#}
{#                </table>#}
            </div>
        </div>
    </div>
</div>
{%  endblock %}

{% block app_select %}
<script>
    var post_url = function(){
        var obj = document.getElementById("select_app");
        document.getElementById("app_name").value = obj.options[obj.selectedIndex].text;
        document.getElementById("app_id").value = obj.value;
        document.getElementById("app_key").value = obj.options[obj.selectedIndex].id;

        $.post("/", {app_id: obj.value}, function () {});
    };

    post_url.apply(this);
</script>
{% endblock %}

