{% extends 'settings/create.html' %}

{%  block content %}
<style type="text/css">
    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #settings {
        position: relative;
        width: 100%;
        margin-top: 50px;
        margin-left: 40px;
    }
</style>

<div id="container" class="container">
    <div id="content" class="content pd40" style="min-height: 678px; margin-top: 40px;">
        <div id="settings">
            <form action="/upload" enctype=multipart/form-data method="post">
                APPID: <input type="text" name="appId" id="appId" readonly size="30"><br>
                CERT: <input type="file" name="cert"><br>
                KEY: <input type="file" name="key"><br>
                PASS: <input type="password" name="passphrase" size="30"><br>
                <input type="submit">
            </form>
            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}" style="color: red;">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
		</div>
    </div>
</div>
{%  endblock %}

<script>
{% block app_select %}
var post_url = function(){
    var obj = document.getElementById("select_app");
    $('#appId').val(obj.value);
    $.post("/", {app_id: obj.value});
};

$(document).ready(function(){
    $('#appId').val($("#select_app").val());
});
{% endblock %}
</script>

