{% extends 'base.html' %}
{% block app_list %}{% endblock %}
{% block main_nav %}{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
    <div id="container" class="container">
    <div id="content" class="content" style="padding-top: 55px;">
        <div id="formwrapper">
            <form action="{{ url_for('login_view.signup') }}" method="post" name="apLogin" id="apLogin">
                <div>
                    <label for="username">用户名</label>
                    <input type="text" name="username" id="username" size="20" maxlength="30" />
                    <br>
                </div>
                <div>
                    <label for="email">邮箱 </label>
                    <input type="text" name="email" id="email" value="" size="20" maxlength="150" />
                </div>
                <div>
                    <label for="password">密码</label>
                    <input type="password" name="password" id="password" size="20" maxlength="30" />
                    <br>
                </div>
                <div class="cookiechk">
                    <input name="register-submit" type="submit" class="buttom" value="提交" />
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}