{% extends 'base.html' %}
{% block app_select %}
<script>
  var post_url = function(elm){
    document.getElementById("app_id").value = elm.value;
    document.getElementById("app_key").value = elm.value;
  };
</script>
{% endblock %}
{% block navigation %}
{% endblock %}

{%  block content %}
<div id="container" class="container">
    <div id="content" class="content" style="padding-top: 55px;">
        <div id="settings">
            <div class="ng-scope">
            <form action="{{ url_for('settings.add_app') }}" method="post">
                <div><input type="text" size="36" name="app_name" placeholder="app_name" /></div>
                <div><input type="submit" id="create-app" value="Create Application" ></div>
            </form>
            <br>
            <br>
            <br>
            <form action="{{ url_for('settings.delete_app') }}" method="post">
                <div><label>App ID</label><div>
                    <input id="app_id" type="text" size="36" name="app_id" value="{{ app_id }}" readonly></div></div>
                <div><label>App Key</label><div>
                    <input id="app_key" type="text" size="36" name="app_key" value="{{ app_key }}" readonly></div></div>
                {% if disabled %}
                    <div><button type="submit" id="delete-app">Delete This Application</button></div>
                {% else %}
                    <div><button type="submit" id="delete-app">Delete This Application</button></div>
                {% endif %}
            </form>
            </div>
        </div>
    </div>
</div>
{%  endblock %}
