{% extends 'base.html' %}
{% block navigation %}
{% endblock %}

{%  block content %}
<div id="container" class="container">
    <div id="content" class="content" style="padding-top: 55px;">
        <div id="settings">
        <div>
        <div ng-view="" class="ng-scope">
        <form>
            <div>
                <label>
                App ID
                </label>
                <div>
                    <input id="form-app-id" type="text" value="{{ app_id }}" required="" readonly="">
                </div>
            </div>
            <div>
                <label>
                App Key
                </label>
                <div>
                    <input id="form-app-key" class="form-control" type="text" value="{{ app_key }}" required="" readonly="">
                </div>
            </div>
            {% if disabled %}
                <div>
                <button type="button" id="delete-app">
                Delete This Application
                </button>
                </div>
            {% else %}
                <div>
                <button type="button" id="delete-app">
                Delete This Application
                </button>
                </div>
            {% endif %}
        </form>
        </div>
        </div>
        </div>
    </div>
</div>
{%  endblock %}
