{% extends 'base.html' %}
{% block content %}
  <div id="container" class="container">
   <div id="content" class="content" style="margin-top: 40px;">
    <div class="relative" style="padding: 5px;position: relative;">
      <div id="sceneMap" style="height:600px;border:1px solid #ccc;padding-top: 50px;"></div>
      <div id="date-filter-wrap" class="date-filter-wrap clearfix" >
        <div class="h-date-wrap j-h-date-wrap">
          <div class="inner-wrap">
            <span class="j-h-startat"></span>
            <span> 至 </span>
            <span class="j-h-endat"></span>
            <span class="arrow">▾</span>
          </div>
          <div style="float: right">
            <select>
                <option>工作日</option>
                <option>周末</option>
            </select>
          </div>
        </div>
        <div class="more-wrap" >
          <div class="filter-by-day" style="">
            <a class="today" href="javascript:;">今日</a>
            <a class="yestoday" href="javascript:;">昨日</a>
            <a class="lastweek" href="javascript:;">最近一周</a>
            <a class="lastmouth" href="javascript:;">最近一月</a>
          </div>
          <div class="date-wrap">
            <span class="time-input">
              <input id="j-filter-start-at">
              <span class="dropdown-caret"></span>
            </span>
            <span class="arave">至</span>
            <span class="time-input">
              <input id="j-filter-end-at">
               <span class="dropdown-caret"></span>
            </span>
          </div>
          <div class="confirm-btn-wrap">
            <a id="confirm-btn" class="confirm-btn" href="#">确认</a>
          </div>
        </div>
      </div>
    </div>

    <div class="relative" style="padding: 5px; position: relative;">
      <div id="eventMap" style="height:600px;border:1px solid #ccc;"></div>
      <div id="e-date-filter-wrap" class="date-filter-wrap" style="display: none;" >
        <div class="filter-by-day" style="text-align: right;">
          <a class="today" href="javascript:;">今日</a>
          <a class="yestoday" href="javascript:;">昨日</a>
          <a class="lastweek" href="javascript:;">最近一周</a>
          <a class="lastmouth" href="javascript:;">最近一月</a>
        </div>
        <div class="date-wrap">
          <span clss="time-input">
            <input id="j-e-filter-start-at">
            <span class="dropdown-caret"></span>
          </span>至
          <span class="time-input">
            <input id="j-e-filter-end-at">
            <span class="dropdown-caret"></span>
          </span>
        </div>
      </div>
    </div>

   </div>
  </div>
<script>
var profile = JSON.parse({{ option|tojson|safe }});

var render_home_office = function(profile){
    var sceneMapOption = option = {
        title : {
            text: '家-工作地点状态',
            subtext: ''
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data: profile.data.home_office.category
        },
        toolbox: {
            show : false,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : profile.data.home_office.xAxis
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name: profile.data.home_office.category[1],
                type: 'line',
                smooth: true,
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: profile.data.home_office.series[1]
            },
            {
                name: profile.data.home_office.category[0],
                type:'line',
                smooth:true,
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: profile.data.home_office.series[0]
            },
            {
                name: profile.data.home_office.category[2],
                type:'line',
                smooth:true,
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: profile.data.home_office.series[2]
            },
            {
                name: profile.data.home_office.category[3],
                type:'line',
                smooth:true,
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: profile.data.home_office.series[3]
            }
        ]
    };

    require(['echarts', 'echarts/chart/bar', 'echarts/chart/line', 'echarts/chart/map'],
        function(ec) {
            if(!document.getElementById('sceneMap')){
                return;
            }
            var sceneMap = ec.init(document.getElementById('sceneMap'));
            sceneMap.setOption(sceneMapOption);
            $(window).resize(function () {
                sceneMap.resize();
            });
        });

        require.config({
          paths: {
              echarts: './public/lib/echarts-2.2.7/build/dist'
          }
        });
};

var render_context = function(profile){
     var eventMapOption = {
          title : {
              text: '事件频次',
              subtext: ''
          },
          tooltip: {
              trigger: 'axis'
          },
          legend: {
              show: false,
              data: ['']
          },
          toolbox: {
              show: false,
              feature: {
                  mark: {
                      show: true
                  },
                  dataView: {
                      show: true,
                      readOnly: false
                  },
                  magicType: {
                      show: true,
                      type: ['line', 'bar']
                  },
                  restore: {
                      show: true
                  },
                  saveAsImage: {
                      show: true
                  }
              }
          },
          calculable: true,
          xAxis: [{
              type: 'category',
              data: profile.data.event.category,
              show: true

          }],
          yAxis: [{
              type: 'value',
              splitArea: {
                  show: true
              }
          }],
          series: [{
              name: '事件频次',
              type: 'bar',
              data: profile.data.event.series
          }]
      };

    require(['echarts', 'echarts/chart/bar', 'echarts/chart/line', 'echarts/chart/map'],
    function(ec) {
        if(!document.getElementById('eventMap')){
          return;
        }
        var eventMap = ec.init(document.getElementById('eventMap'));
        eventMap.setOption(eventMapOption);
        $(window).resize(function () {
            eventMap.resize();
        });
    })
};
render_home_office(profile);
render_context(profile);

$(document).ready(function(){
    $(".j-h-startat").text( new Date((new Date() - 86400000*30)).toISOString().slice(0,10) );
    $(".j-h-endat").text( (new Date()).toISOString().slice(0,10) );

    $(".date-filter-wrap").on("click", ".inner-wrap", function(e){
        $(this)
          .closest(".j-h-date-wrap")
          .next()
          .slideToggle(200);
    });

    var now = new Date();
    $("#j-filter-start-at").datepicker({
        dateFormat: "yy-mm-dd",
        defaultDate: now,
        onClose: function (selectedDate){
            $(".j-h-startat").text(selectedDate)
        }
    });

    $("#j-filter-end-at").datepicker({
        dateFormat: "yy-mm-dd",
        defaultDate: now,
        onClose: function (selectedDate){
            $(".j-h-endat").text(selectedDate)
        }
    });
});

$(".more-wrap a").on("click", function(){
     var _today = (+new Date());
    var h_start = (_today - (86400000*30)) || null;
    var e_start = (_today - (86400000*30)) || null;
    var h_end = _today;
    var e_end = _today;

    var j_start_obj = $(".j-h-startat");
    var j_end_obj = $(".j-h-endat");

    switch ($(this).attr('class')) {
        case 'today':
            h_start = e_start = _today || null;
            j_start_obj.text( new Date().toISOString().slice(0,13) );
            j_end_obj.text( new Date().toISOString().slice(0,13) );
            break;
        case 'yestoday':
            h_start = e_start =(_today - 86400000) || null;
            j_start_obj.text( new Date((new Date() - 86400000)).toISOString().slice(0,13) );
            j_end_obj.text( new Date().toISOString().slice(0,13) );
            break;
        case 'lastweek':
            h_start = e_start =(_today - (86400000*7)) || null;
            j_start_obj.text( new Date((new Date() - 86400000*7)).toISOString().slice(0,13) );
            j_end_obj.text( new Date().toISOString().slice(0,13) );
            break;
        case 'confirm-btn':
            h_start = e_start = (+new Date($("#j-filter-start-at").val())) || null;
            h_end = e_end = (+new Date($("#j-filter-end-at").val())) || null;
            break;
        case 'lastmouth':
            j_start_obj.text( new Date((new Date() - 86400000*30)).toISOString().slice(0,13) );
            j_end_obj.text( new Date().toISOString().slice(0,13) );
            break;
        default :
            break;
    }
    var url = "{{ url_for('dashboard_bp.motion') }}";
    var workday = $('.h-date-wrap select').val() == "工作日" ? "workday": "weekend";
    var data = {
        name: $(this).parent().parent().attr('id') == "date-filter-wrap"
                ? "home_office_status": "context",
        h_start: h_start,
        h_end: h_end,
        e_start: e_start,
        e_end: e_end,
        workday: workday
    };

    $.ajax({
        type: "post",
        async: true,
        url: url,
        data: data,
        success: function (option) {
            render_home_office(JSON.parse(option));
            render_context(JSON.parse(option));
        },
        error: function () {
            alert("获取内容失败，请稍后再试！");
        }
    });
});
$('.h-date-wrap select').on('change', function(){
    var h_start = $(".j-h-startat").text() || new Date() - 86400000*30;
    var h_end = $(".j-h-endat").text() || new Date();

    var e_start = h_start = new Date(h_start).getTime();
    var e_end = h_end = new Date(h_end).getTime();

    var url = "{{ url_for('dashboard_bp.motion') }}";
    var workday = $('.h-date-wrap select').val() == "工作日" ? "workday": "weekend";
    var data = {
        name: $(this).parent().parent().attr('id') == "date-filter-wrap"
                ? "home_office_status": "context",
        h_start: h_start,
        h_end: h_end,
        e_start: e_start,
        e_end: e_end,
        workday: workday
    };

    $.ajax({
        type: "post",
        async: true,
        url: url,
        data: data,
        success: function (option) {
            render_home_office(JSON.parse(option));
            render_context(JSON.parse(option));
        },
        error: function () {
            alert("获取内容失败，请稍后再试！");
        }
    });
});


</script>
{% endblock %}