{% extends 'base.html' %}
{% block content %}
  <div id="container" class="container">
   <div id="content" class="content" style="margin-top: 40px;">
    <div class="relative" style="padding: 5px;position: relative;">
      <div id="sceneMap" style="height:600px;border:1px solid #ccc;"></div>
      <div class="date-filter-wrap">
        <p>
          <input type="text" id="j-filter-start-at">至
          <input type="text" id="j-filter-end-at">
          <input type="button" id="home_office_status" class="button" value="确定">
        </p>
      </div>
    </div>

    <div class="relative" style="padding: 5px; position: relative;">
      <div id="eventMap" style="height:600px;border:1px solid #ccc;"></div>
      <div class="date-filter-wrap">
        <p>
          <input type="text" id="j-filter-start-at-e">至
          <input type="text" id="j-filter-end-at-e">
          <input type="button" id="context" class="button" value="确定">
        </p>
      </div>
    </div>

   </div>
  </div>
<script>
var profile = JSON.parse({{ option|tojson|safe }});

var render_home_office = function(profile){
   var sceneMapOption = option = {
        title : {
            text: '家-工作地点状态',
            subtext: ''
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data: profile.data.home_office.category
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : profile.data.home_office.xAxis
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name: profile.data.home_office.category[1],
                type: 'line',
                smooth: true,
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: profile.data.home_office.series[1]
            },
            {
                name: profile.data.home_office.category[0],
                type:'line',
                smooth:true,
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: profile.data.home_office.series[0]
            },
            {
                name: profile.data.home_office.category[2],
                type:'line',
                smooth:true,
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: profile.data.home_office.series[2]
            },
            {
                name: profile.data.home_office.category[3],
                type:'line',
                smooth:true,
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: profile.data.home_office.series[3]
            }
        ]
    };

    require(['echarts', 'echarts/chart/bar', 'echarts/chart/line', 'echarts/chart/map'],
        function(ec) {

            if(!document.getElementById('sceneMap')){
                return;
            }
            var sceneMap = ec.init(document.getElementById('sceneMap'));
            sceneMap.setOption(sceneMapOption);
        });

        require.config({
          paths: {
              echarts: './public/lib/echarts-2.2.7/build/dist'
          }
      });
};

var render_context = function(profile){
     var eventMapOption = {
          title : {
              text: '事件频次',
              subtext: ''
          },
          tooltip: {
              trigger: 'axis'
          },
          legend: {
              show: false,
              data: ['']
          },
          toolbox: {
              show: true,
              feature: {
                  mark: {
                      show: true
                  },
                  dataView: {
                      show: true,
                      readOnly: false
                  },
                  magicType: {
                      show: true,
                      type: ['line', 'bar']
                  },
                  restore: {
                      show: true
                  },
                  saveAsImage: {
                      show: true
                  }
              }
          },
          calculable: true,
          xAxis: [{
              type: 'category',
              data: profile.data.event.category,
              show: true

          }],
          yAxis: [{
              type: 'value',
              splitArea: {
                  show: true
              }
          }],
          series: [{
              name: '事件频次',
              type: 'bar',
              data: profile.data.event.series
          }]
      };

      require(['echarts', 'echarts/chart/bar', 'echarts/chart/line', 'echarts/chart/map'],
      function(ec) {
          //--- 折柱 ---
          if(!document.getElementById('eventMap')){
              return;
          }
          var eventMap = ec.init(document.getElementById('eventMap'));
          eventMap.setOption(eventMapOption);
      })
};
render_home_office(profile);
render_context(profile);


$(".button").click(function(){
    var h_start_obj = $('#j-filter-start-at'), h_end_obj = $('#j-filter-end-at');
    var e_start_obj = $('#j-filter-start-at-e'), e_end_obj = $('#j-filter-end-at-e');
    var h_end = new Date(h_end_obj.val()).getTime() + new Date().getHours()*60*60*1000 || (new Date().getTime()),
            h_start = new Date(h_start_obj.val()).getTime() + new Date().getHours()*60*60*1000 || (h_end - 30*24*60*60*1000);
    var e_end = new Date(e_end_obj.val()).getTime() + new Date().getHours()*60*60*1000 || (new Date().getTime()),
            e_start = new Date(e_start_obj.val()).getTime() + new Date().getHours()*60*60*1000 || (e_end - 30*24*60*60*1000);

    var url = "{{ url_for('dashboard_bp.motion') }}";
    var data = {
        name: this.id,
        h_start: h_start,
        h_end: h_end,
        e_start: e_start,
        e_end: e_end
    };
    $.ajax({
        type : "post",
        async : true,
        url : url,
        data : data,
        success:function(option){
            if(data.name == 'home_office_status'){
                render_home_office(JSON.parse(option));
            }else if(data.name == 'context'){
                render_context(JSON.parse(option));
            }
        },
        error: function() {
           alert("获取内容失败，请稍后再试！");
        }
    });
});


var jump_with_filter = function(){
    var h_start_obj = $('#j-filter-start-at'), h_end_obj = $('#j-filter-end-at');
    var e_start_obj = $('#j-filter-start-at-e'), e_end_obj = $('#j-filter-end-at-e');

    var h_end = new Date(h_end_obj.val()).getTime() + new Date().getHours()*60*60*1000 || (new Date().getTime()),
            h_start = new Date(h_start_obj.val()).getTime() + new Date().getHours()*60*60*1000 || (h_end - 30*24*60*60*1000);
    var e_end = new Date(e_end_obj.val()).getTime() + new Date().getHours()*60*60*1000 || (new Date().getTime()),
            e_start = new Date(e_start_obj.val()).getTime() + new Date().getHours()*60*60*1000 || (e_end - 30*24*60*60*1000);

    var href = GetUrlRelativePath()
            + "?h_start=" + h_start + "&h_end=" + h_end
            + "&e_start=" + e_start + "&e_end=" + e_end;
    window.location.replace(href);
}
</script>
{% endblock %}