{% extends 'base.html' %} {% block head %}

<head>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport" /> {#
	<title>SingleUserMotion</title>#}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/jquery-ui-1.11.4/themes/base/jquery-ui.min.css') }}">
	<script src="{{ url_for('static', filename='lib/jquery-2.1.4.min.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/jquery-ui-1.11.4/jquery-ui.min.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/echarts-2.2.7/build/dist/echarts.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
	<style type="text/css">
		.btn-custom-label {
			border-radius: 6px;
			border-color: #999999;
		}
		
		.list-group-custom {
			border: 1px solid #eeeeee;
			text-align: center;
			height: 600px;
			margin-top: 15px;
			overflow-x: hidden;
			overflow-y: scroll;
		}
		
		.list-group-item-custom {
			border-width: 0;
			cursor: pointer;
		}
		
		.click {
			color: #00D0BF;
		}
	</style>
</head>
{% endblock %} {% block content %}

<div class="container-fluid" style="background: #fff; margin-left: 200px;">
	<div class="row" style="margin-top: 10px;margin-bottom: 10px;">
		<div class="col-xs-2" style="margin-top: 40px;width: 250px;">
			<p style="display: inline-block; margin-left:10px;margin-top: 5px;">分组</p>
			<div class="dropdown" style="float:right;display: inline-block;">
				<button type="button" class="btn btn-sm dropdown-toggle" id="dropdownMenuClass" data-toggle="dropdown" style="background: #eeeeee;">
					<span id="currUserGroup">选择分组</span>
					<span class="caret"></span>
				</button>
				<ul id="userGroupDiv" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuClass">
					<li id="userGroupHidden" role="presentation" class="hidden">
						<a role="menuitem" tabindex="-1" href="#"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-3" style="margin-left: 40px;margin-top: 30px;width: 250px;">
			<div id="date-filter-wrap" class="date-filter-wrap clearfix">
				<div class="h-date-wrap j-h-date-wrap">
					<div class="inner-wrap">
						<span class="j-h-startat"></span>
						<span> 至 </span>
						<span class="j-h-endat"></span>
						<span class="arrow">▾</span>
					</div>
				</div>
				<div class="more-wrap" style="background: #ffffff;position:relative; z-index:99999;">
					<div class="filter-by-day">
						<a class="today" href="javascript:;">今日</a>
						<a class="yestoday" href="javascript:;">昨日</a>
						<a class="lastweek" href="javascript:;">最近一周</a>
						<a class="lastmouth" href="javascript:;">最近一月</a>
					</div>
					<div class="date-wrap">
						<span class="time-input">
		                <input id="j-filter-start-at">
		                <span class="dropdown-caret"></span>
						</span>
						<span class="arave">至</span>
						<span class="time-input">
		                <input id="j-filter-end-at"/>
		                <span class="dropdown-caret"></span>
						</span>
					</div>
					<div class="confirm-btn-wrap">
						<a id="confirm-btn" class="confirm-btn" href="#">确认</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="height: 1px;background: #CCCCCC;"></div>
	<div class="row">
		<div class="col-xs-2" style="width: 250px;">
			<div style="margin-top: 15px;">
				<span style="margin-left:10px;">用户列表</span>
				<span id="userCount" style="float: right;margin-right: 10px;"></span>
			</div>
			<div class="input-group" style="margin-top: 15px;">
				<input id="userNameInput" type="text" class="form-control" placeholder="请输入名称" value="" />
				<div id="doSearch" class="input-group-addon" style="cursor: pointer;">
					<img src="{{ url_for('static', filename='images/icon_search.png') }}" style="width: 20px; height: 20px">
				</div>
			</div>
			<ul id="userNameDiv" class="list-group list-group-custom">
				<li id="userNameHidden" class="list-group-item list-group-item-custom hidden"></li>
				<li id="userNameNull" class="list-group-item list-group-item-custom hidden">
					<p id="userNameNullInfo" style="font-size: 10px;">没有匹配的用户</p>
					<button id="userNameAll" class="btn btn-primary btn-xs btn-block" style="font-size: 12px;background: #00ACC1;border: none;">返回列表</button>
				</li>
			</ul>
		</div>
		<div id="content" class="col-xs-9 center-block hidden" style="padding-top: 10px;border-left: 1px solid #CCCCCC;">
			<div class="col-xs-3" style="margin-top: 8px;padding: 0px;text-align: center;width: 160px;">
				<span id="userName">用户名称</span>
			</div>
			<div class="col-xs-9" style="margin-bottom: 10px;">
				<div id="userLabelDiv" style="display: inline-block;margin-left: 5px;">
					<a id="userLabelHidden" role="button" class="btn btn-default btn-sm btn-custom-label hidden disabled" style="margin-left: 10px;margin-top: 5px;"></a>
				</div>
			</div>
			<br />
			<ul id="pageMenu" class="nav nav-tabs nav-justified" style="margin-top: 20px;">
				<li class="active default"><a href="#" style="color: #00ACC1;">事件</a></li>
				<li><a href="#" style="color: #00ACC1;">上下班</a></li>
				<li><a href="#" style="color: #00ACC1;">动作状态</a></li>
				<li><a href="#" style="color: #00ACC1;">常去地点</a></li>
				<li><a href="#" style="color: #00ACC1;">详细日志</a></li>
			</ul>
			<div id="pageContainer" style="margin-top: 15px;">
				<div id="事件" class="page show">
					<div id="eventChart" style="height:600px"></div>
				</div>

				<div id="上下班" class="page hidden">
					<div id="homeOfficeChart" style="height:400px"></div>
					<div style="margin-left: 90px;margin-right: 90px;height:130px;border: 1px solid #CCCCCC;">
						<div style="float: left;margin-left: 30px;margin-top: 20px;">
							<img style="width: 15px; height: 15px" src="{{ url_for('static', filename='images/single-user-motion-schedule.png') }}" />
							<p style="margin-left: 5px;display: inline-block;">离家时间 : <span id="leaveHome">8:20 - 9:10</span></p>
							<p style="margin-left: 22px;">到家时间 : <span id="arriveHome">8:20 - 9:10</span></p>
							<p style="margin-left: 22px;">到公司时间 : <span id="arriveHome">8:20 - 9:10</span></p>
							<p style="margin-left: 22px;">离开公司时间 : <span id="leaveOffice">8:20 - 9:10</span></p>
							<p style="margin-left: 22px;">平均工作时长 : <span id="avgWorkHours">8 hour</span></p>
						</div>
						<div style="margin-left: 50%;margin-top: 20px;">
							<img style="width: 15px; height: 20px;" src="{{ url_for('static', filename='images/single-user-motion-map.png') }}" />
							<p style="margin-left: 5px;display: inline-block;">家庭地址 : <span id="homeAddress">北京市天通西苑一区 34#</span></p>
							<p style="margin-left: 22px;">公司地址 : <span id="officeAddress">北京市海淀南路苏州街纽约客公寓</span></p>
						</div>
					</div>
				</div>

				<div id="动作状态" class="page hidden">
					<div id="actionChart" style="height:600px"></div>
				</div>

				<div id="常去地点" class="page hidden">
					<div id="locationChart" style="height:600px"></div>
				</div>

				<div id="详细日志" class="page hidden">
					<table class="table table-bordered" style="overflow: scroll">
						<thead>
							<tr>
								<th class="text-center" style="background: rgb(241,241,241);">时间</th>
								<th class="text-center" style="background: rgb(241,241,241);">情境</th>
								<th class="text-center" style="background: rgb(241,241,241);">上下班</th>
								<th class="text-center" style="background: rgb(241,241,241);">动作状态</th>
							</tr>
						</thead>
						<tbody>
							<tr id="detailTrHidden" class="hidden">
								<td class="time text-center">2015-12-16 12:00</td>
								<td class="sence text-center">商圈工作中</td>
								<td class="status text-center">上班路上</td>
								<td class="action text-center">走路</td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-xs-4">
						</div>
						<div class="col-xs-4">
							<button id="pageBefore" type="button" class="btn btn-default" style="margin-left: 18%;">上一页</button>
							<div class="btn-group dropup">
								<button id="pageIndexBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									第 1 页 <span class="caret"></span>
								</button>
								<ul id="pageIndexDiv" class="dropdown-menu" role="menu" style="overflow-x: hidden;overflow-y: scroll; height: 200px;">
									<li id="pageIndexHidden" class="hidden">
										<a href="#"></a>
									</li>
								</ul>
							</div>
							<button id="pageNext" type="button" class="btn btn-default">下一页</button>
						</div>
						<div class="col-xs-4">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	// 日期
	function close() {
		$('.j-h-date-wrap')
			.next()
			.slideToggle(200);
	};
	// 假数据 start
	var userGroups = [];
	var userNames = [];
	for (var i = 0; i < 100; i++) {
		userNames.push('560388c100b09b53b59504d2');
	};
	var userLabels = ['16岁以下', '人文科学', '管理人员', '10000-20000', '时事新闻', '已婚', '怀孕', '不养宠物', '无车', '时事新闻', '已婚', '怀孕', '不养宠物', '无车'];
	var eventData = {
		category: ['地点1', '地点2', '地点3', '地点4', '地点5', '地点6'],
		data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7],
		avgData: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7],
	};
	var homeOfficeData = {
		category: ['1:00', '3:00', '5:00', '7:00', '9:00', '11:00', '13:00', '15:00', '17:00', '19:00', '21:00', '23:00'],
		atHomeData: [5.1, 6, 4, 3, 4, 6, 6, 5, 1, 1, 0, 7],
		atOfficeData: [7, 5.1, 6, 4, 3, 4, 6, 6, 5, 1, 1, 0],
		toHomeData: [0, 1.7, 2.1, 2.6, 1.4, 3, 1.4, 0.6, 1.6, 1.5, 1, 1],
		toOfficeData: [1, 0, 3, 2.1, 0.6, 4, 3, 4, 2, 1, 3.5, 1],
		leaveHome: '8:20 - 9:10',
		leaveOffice: '8:20 - 9:10',
		arriveHome: '8:20 - 9:10',
		arriveOffice: '8:20 - 9:10',
		avgWorkHours: '8 hour',
		homeAddress: '北京市天通西苑一区 34#',
		officeAddress: '北京市海淀南路苏州街纽约客公寓',
	};
	var actionData = {
		category: ['走路', '坐车', '静坐', '跑步', '骑车', '乘车'],
		data: [2.0, 4.9, 17.0, 3.2, 5.6, 6.7],
		avgData: [2.0, 4.9, 17.0, 3.2, 5.6, 6.7],
	};
	var heatData = [];
	for (var i = 0; i < 200; ++i) {
		heatData.push([
			116 + Math.random(), // gps
			39.5 + Math.random(), // gps
			Math.random() // 热度
		]);
	}
	var locationData = {
		mapType: '北京',
		data: heatData
	};
	var detailData = {
		data: [{
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}, {
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}, {
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}, {
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}, {
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}, {
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}, {
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}, {
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}, {
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}, {
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}, {
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}, {
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}, {
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}, {
			time: '2015-12-16 12:00',
			sence: '商圈工作中',
			status: '上班路上',
			action: '走路',
		}]
	};
	// 假数据 end
	// 网络请求地址
	var url = "{{ url_for('dashboard_bp.single') }}";
	// 加载列表
	$.ajax({
		type: 'post',
		async: false,
		url: url,
        contentType: "application/json",
		data: JSON.stringify({type: 'user_list' }),
		success: function(option) {
			// console.log(option);
			var obj = JSON.parse(option);
			userNames = obj.userNames;	
		},
		error: function() {
			alert("获取内容失败，请稍后再试！");
		}
	});
	// 网络请求地址
	var group_url = "{{ url_for('dashboard_bp.group') }}";
	// 加载列表
	$.ajax({
		type: 'post',
		async: false,
		url: group_url,
        contentType: "application/json",
		data: JSON.stringify({
			action: "group_list"
		}),
		success: function(option) {
			var obj = JSON.parse(option);
			userGroups = obj.group_list;
			userGroups.unshift({
				id:'-1',
				name: '全部用户',
			});
			// console.log(userGroups);
		},
		error: function() {
			alert("获取内容失败，请稍后再试！");
		}
	});
	// 当前选中组id
	var currGroupId = -1;
	// 定义图表
	var eventChart, homeOfficeChart, actionChart, locationChart;
	// 当前选中
	var currUserName;
	// 当前选中id
	var currId;
	// 筛选结果
	var filterUserNames = userNames;
	// 日志当前页面
	var pageIndex = 1;
	// 日志单页面条数
	var perPageCount = 15;
	// 默认日期参数
	var h_start = ((+new Date()) - (86400000 * 30)) || null;
	var e_start = ((+new Date()) - (86400000 * 30)) || null;
	var h_end = (+new Date());
	var e_end = (+new Date());
	// 加载完成后执行
	$(document).ready(function() {
		// 填充日期选择器
		$(".j-h-startat").text(new Date((new Date() - 86400000 * 30)).toISOString().slice(0, 10));
		$(".j-h-endat").text((new Date()).toISOString().slice(0, 10));
		$(".date-filter-wrap").on("click", ".inner-wrap", close);
		$.datepicker.regional["zh-CN"] = {
			closeText: "关闭",
			prevText: "&#x3c;上月",
			nextText: "下月&#x3e;",
			currentText: "今天",
			monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
			monthNamesShort: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
			dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
			dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
			dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
			weekHeader: "周",
			dateFormat: "yy-mm-dd",
			firstDay: 1,
			isRTL: !1,
			showMonthAfterYear: !0,
			yearSuffix: "年"
		};
		$.datepicker.setDefaults($.datepicker.regional["zh-CN"]);
		var now = new Date();
		$("#j-filter-start-at").datepicker({
			dateFormat: "yy-mm-dd",
			defaultDate: now,
			onClose: function(selectedDate) {
				if (selectedDate != '') {
					$(".j-h-startat").text(selectedDate);
				}
			}
		});
		$("#j-filter-end-at").datepicker({
			dateFormat: "yy-mm-dd",
			defaultDate: now,
			onClose: function(selectedDate) {
				if (selectedDate != '') {
					$(".j-h-endat").text(selectedDate);
				}
			}
		});
		$(".more-wrap a").on("click", function() {
			var _today = (+new Date());
			h_start = (_today - (86400000 * 30)) || null;
			e_start = (_today - (86400000 * 30)) || null;
			h_end = _today;
			e_end = _today;
			var j_start_obj = $(".j-h-startat");
			var j_end_obj = $(".j-h-endat");
			switch ($(this).attr('class')) {
				case 'today':
					h_start = e_start = _today || null;
					j_start_obj.text(new Date().toISOString().slice(0, 10));
					j_end_obj.text(new Date().toISOString().slice(0, 10));
					close();
					break;
				case 'yestoday':
					h_start = e_start = (_today - 86400000) || null;
					j_start_obj.text(new Date((new Date() - 86400000)).toISOString().slice(0, 10));
					j_end_obj.text(new Date().toISOString().slice(0, 10));
					close();
					break;
				case 'lastweek':
					h_start = e_start = (_today - (86400000 * 7)) || null;
					j_start_obj.text(new Date((new Date() - 86400000 * 7)).toISOString().slice(0, 10));
					j_end_obj.text(new Date().toISOString().slice(0, 10));
					close();
					break;
				case 'confirm-btn':
					h_start = e_start = (+new Date($("#j-filter-start-at").val())) || null;
					h_end = e_end = (+new Date($("#j-filter-end-at").val())) || null;
					close();
					break;
				case 'lastmouth':
					j_start_obj.text(new Date((new Date() - 86400000 * 30)).toISOString().slice(0, 10));
					j_end_obj.text(new Date().toISOString().slice(0, 10));
					close();
					break;
				default:
					break;
			}
			// 判断是否选中用户
			if (currId == undefined) {
				console.log('请先选择用户!');
				return;
			}
			var data = {
				uid: currId,
				gourpid: currGroupId,
				h_start: h_start,
				h_end: h_end,
				e_start: e_start,
				e_end: e_end
			};
			console.log(data);
			$.ajax({
				type: "post",
				async: true,
				url: url,
                contentType: "application/json",
				data: JSON.stringify(data),
				success: function(option) {
					console.log(option);
					// TODO
					var obj = JSON.parse(option);
					actionData = obj.actionData;
					eventData = obj.eventData;
					homeOfficeData = obj.homeOfficeData;
					locationData = obj.locationData;
					userLabels = obj.userLabels;
					detailData = obj.detailData;
					// console.log('actionData:' + actionData);
					// console.log('eventData:' + eventData);
					// console.log('homeOfficeData:' + homeOfficeData);
					// console.log('locationData:' + locationData);
					// console.log('userLabels:' + userLabels);
					// console.log('detailData:' + detailData);
					// 加载用户内容
					initUserContent();
				},
				error: function() {
					alert("获取内容失败，请稍后再试！");
				}
			});
		});
		// 填充分组
		for (var i = 0; i < userGroups.length; i++) {
			var item = $('#userGroupHidden').clone();
			item.removeAttr('id');
			item.removeClass('hidden');
			item.children().html(userGroups[i].name);
			item.children().attr('id',userGroups[i].id);
			item.children().click(changeUserGroup);
			$('#userGroupDiv').append(item);
		};
		// 切换页面显示
		$('#pageMenu li').click(function() {
			$('#pageMenu li').removeClass('active');
			$(this).addClass('active');
			var currPage = $('#' + $(this).children('a').html());
			$('#pageContainer .page').removeClass('show');
			$('#pageContainer .page').addClass('hidden');
			currPage.removeClass('hidden');
			currPage.addClass('show');
			switch ($(this).children('a').html()) {
				case '事件':
					loadEventChart();
					break;
				case '上下班':
					loadHomeOfficeChart();
					break;
				case '动作状态':
					loadActionChart();
					break;
				case '常去地点':
					loadLocationChart();
					break;
				case '详细日志':
					loadDetailLog();
					break;
			}
		});
		// 初始化图表
		initCharts();
		// 填充用户
		initUserNameList();
		// 查找逻辑
		$('#doSearch').click(function() {
			$('#userNameNull').addClass('hidden');
			var name = $('#userNameInput').val();
			if (name == '') {
				// 没输入条件，显示全部
				if (filterUserNames != userNames) {
					// 有效点击
					filterUserNames = userNames;
					// 清空现有列表
					$('#userNameDiv').children('.tag').remove();
					// 重新加载
					initUserNameList();
					console.log('加载全部');
				}
				// 返回
				return;
			}
			// 清空
			filterUserNames = [];
			for (var i = 0; i < userNames.length; i++) {
				if (userNames[i].indexOf(name) >= 0) {
					// 匹配
					filterUserNames.push(userNames[i]);
				}
			}
			// 清空现有列表
			$('#userNameDiv').children('.tag').remove();
			if (filterUserNames.length == 0) {
				// 空列表
				$('#userNameNull').removeClass('hidden');
				$('#userNameNullInfo').removeClass('hidden');
			} else {
				$('#userNameNull').removeClass('hidden');
				$('#userNameNullInfo').addClass('hidden');
				// 重新加载
				initUserNameList();
			}
		});
		// 回到全部用户
		$('#userNameAll').click(function() {
			// 清空现有列表
			$('#userNameDiv').children('.tag').remove();
			$('#userNameNull').addClass('hidden');
			$('#userNameInput').val('');
			filterUserNames = userNames;
			// 重新加载
			initUserNameList();
		});
	});
	// 初始化用户列表
	function initUserNameList() {
		// 重置选中用户
		currUserName = undefined;
		currId = undefined;
		// 填充总人数
		$('#userCount').html(filterUserNames.length + '人');
		// 填充列表
		for (var i = 0; i < filterUserNames.length; i++) {
			var item = $('#userNameHidden').clone();
			item.removeAttr('id');
			item.removeClass('hidden');
			item.addClass('tag');
			item.html(filterUserNames[i]);
			// 点击换人
			item.click(function() {
				// 重置页码
				pageIndex = 1;
				// 换人样式变化
				if (currUserName != undefined) {
					currUserName.removeClass('click');
				}
				$(this).addClass('click');
				currUserName = $(this);
				currId = $(this).html();
				// 换人业务逻辑
				console.log('change:' + currId);
				$('#content').addClass('hidden');
				// 换人业务逻辑执行中
				var data = {
					uid: currId,
					gourpid: currGroupId,
					h_start: h_start,
					h_end: h_end,
					e_start: e_start,
					e_end: e_end
				};
				console.log(data);
				$.ajax({
					type: 'post',
					async: true,
					url: url,
                    contentType: "application/json",
					data: JSON.stringify(data),
					success: function(option) {
						console.log(option);
						// TODO
						var obj = JSON.parse(option);
						actionData = obj.actionData;
						eventData = obj.eventData;
						homeOfficeData = obj.homeOfficeData;
						locationData = obj.locationData;
						userLabels = obj.userLabels;
						detailData = obj.detailData;
						// console.log('actionData:' + actionData);
						// console.log('eventData:' + eventData);
						// console.log('homeOfficeData:' + homeOfficeData);
						// console.log('locationData:' + locationData);
						// console.log('userLabels:' + userLabels);
						// console.log('detailData:' + detailData);
						// 换人业务逻辑完成后
						$('#content').removeClass('hidden');
						// 加载用户内容
						initUserContent();
					},
					error: function() {
						alert("获取内容失败，请稍后再试！");
					}
				});
			});
			$('#userNameNull').before(item);
		};
	}
	// 隐藏用户数据
	function hiddenUserContent(){
		$('#content').removeClass('show');
		$('#content').addClass('hidden');
	}
	// 加载用户内容
	function initUserContent() {
		// 切换到默认标签
		$('#pageMenu li').removeClass('active');
		$('#pageMenu .default').addClass('active');
		var currPage = $('#事件');
		$('#pageContainer .page').removeClass('show');
		$('#pageContainer .page').addClass('hidden');
		currPage.removeClass('hidden');
		currPage.addClass('show');
		// 清空分页
		$('.changePage').remove();
		// 加载默认图表
		loadEventChart();
		// 判断是否显示
		if (currUserName == undefined) {
			return;
		}
		// 加载用户名字
		$('#userName').html(currUserName.html());
		// 清空标签
		$('#userLabelDiv').children('.tag').remove();
		// 填充标签
		for (var i = 0; i < userLabels.length; i++) {
			var item = $('#userLabelHidden').clone();
			item.removeAttr('id');
			item.removeClass('hidden');
			item.addClass('tag');
			item.html(userLabels[i]);
			$('#userLabelDiv').append(item);
		};
		// 加载分页
		for (var i = 1; i <= Math.floor(detailData.data.length / perPageCount); i++) {
			var item = $('#pageIndexHidden').clone();
			item.removeAttr('id');
			item.removeClass('hidden');
			item.addClass('changePage');
			item.find('a').html('第 ' + i + ' 页');
			// 日志翻页
			item.find('a').click(function() {
				// 字符分割 
				pageIndex = $(this).html().split(' ')[1];
				// 判断上下页禁用
				checkPage();
				// 改变分页
				changePage();
			});
			$('#pageIndexDiv').append(item);
		}
		// 判断初始情况
		checkPage();
		// 上一页
		$('#pageBefore').click(function() {
			console.log('before');
			pageIndex--;
			// 判断上下页禁用
			checkPage();
			// 改变分页
			changePage();
		});
		// 下一页
		$('#pageNext').click(function() {
			console.log('next');
			pageIndex++;
			// 判断上下页禁用
			checkPage();
			// 改变分页
			changePage();
		});
	};
	// 判断上下页禁用
	function checkPage() {
		// 设置当前页样式
		$('#pageIndexBtn').html('第 ' + pageIndex + ' 页  <span class="caret"></span>');
		// 判断禁用
		if (pageIndex == 1) {
			$('#pageBefore').attr("disabled", true);
		} else {
			$('#pageBefore').attr("disabled", false);
		}
		// 判断禁用
		if (pageIndex == detailData.pageCount) {
			$('#pageNext').attr("disabled", true);
		} else {
			$('#pageNext').attr("disabled", false);
		}
	}
	// 改变分页
	function changePage() {
		// 加载数据
		loadDetailLog();
	}
	// 切换分组
	function changeUserGroup() {
		$('#currUserGroup').html($(this).html());
		currGroupId = $(this).attr('id');
		console.log('currGroupId:'+currGroupId);
		// 点击分组逻辑
		// 加载列表
		$.ajax({
			type: 'post',
			async: false,
			url: url,
            contentType: "application/json",
			data: JSON.stringify({
				type: 'user_list',
				gourpid: currGroupId
			}),
			success: function(option) {
				// console.log(option);
				var obj = JSON.parse(option);
				userNames = obj.userNames;
				filterUserNames = userNames;
				hiddenUserContent();
				// 清空现有列表
				$('#userNameDiv').children('.tag').remove();
				$('#userNameNull').addClass('hidden');
				$('#userNameInput').val('');
				filterUserNames = userNames;
				// 重新加载
				initUserNameList();
			},
			error: function() {
				alert("获取内容失败，请稍后再试！");
			}
		});
	}
	// 初始化
	function initCharts() {
		// 路径配置
		require.config({
			paths: {
				echarts: 'http://echarts.baidu.com/build/dist'
			}
		});
	};
	// 加载事件图表
	function loadEventChart() {
		// 使用
		require(
			[
				'echarts',
				'echarts/chart/line',
				'echarts/chart/bar',
			],
			function(ec) {
				// 基于准备好的dom，初始化echarts图表
				eventChart = ec.init(document.getElementById('eventChart'));
				option = {
					title: {
						text: '事件统计图',
					},
					tooltip: {
						trigger: 'axis',
						formatter: '{b} : {c} 次',
					},
					legend: {
						data: ['个人数据', '平均水平'],
					},
					toolbox: {
						show: false,
						feature: {
							magicType: {
								show: true,
								type: ['line', 'bar']
							},
							restore: {
								show: true
							},
							saveAsImage: {
								show: true
							}
						}
					},
					xAxis: [{
						type: 'category',
						data: eventData.category,
					}],
					yAxis: [{
						type: 'value',
						axisLabel: {
							formatter: '{value} 次',
						},
					}],
					series: [{
						name: '个人数据',
						type: 'bar',
						barMaxWidth: 30,
						data: eventData.data,
						markPoint: {
							data: [{
								type: 'max',
								name: '最大值'
							}, {
								type: 'min',
								name: '最小值'
							}],
							itemStyle: {
								normal: {
									color: '#00acc1',
								},
							},
						},
						itemStyle: {
							normal: {
								color: '#00acc1',
							},
						},
					}, {
						name: '平均水平',
						type: 'bar',
						barMaxWidth: 30,
						data: eventData.data,
						markPoint: {
							data: [{
								type: 'max',
								name: '最大值'
							}, {
								type: 'min',
								name: '最小值'
							}],
							itemStyle: {
								normal: {
									color: '#918bd5',
								},
							},
						},
						itemStyle: {
							normal: {
								color: '#918bd5',
							},
						},
					}, ]
				};
				// 为echarts对象加载数据 
				eventChart.setOption(option);
			}
		);
		// 自适应
		$(window).resize(function() {
			eventChart.resize();
		});
	};
	// 加载上下班图表
	function loadHomeOfficeChart() {
		// 加载静态信息
		$('#leaveHome').html(homeOfficeData.leaveHome);
		$('#leaveOffice').html(homeOfficeData.leaveOffice);
		$('#arriveHome').html(homeOfficeData.arriveHome);
		$('#arriveOffice').html(homeOfficeData.arriveOffice);
		$('#avgWorkHours').html(homeOfficeData.avgWorkHours);
		$('#homeAddress').html(homeOfficeData.homeAddress);
		$('#officeAddress').html(homeOfficeData.officeAddress);
		// 使用
		require(
			[
				'echarts',
				'echarts/chart/line',
				'echarts/chart/bar',
			],
			function(ec) {
				// 基于准备好的dom，初始化echarts图表
				homeOfficeChart = ec.init(document.getElementById('homeOfficeChart'));
				option = {
					title: {
						text: '上下班统计图',
					},
					tooltip: {
						trigger: 'axis',
						formatter: '{b} : {c} 次',
					},
					toolbox: {
						show: false,
						feature: {
							magicType: {
								show: true,
								type: ['line', 'bar']
							},
							restore: {
								show: true
							},
							saveAsImage: {
								show: true
							}
						}
					},
					legend: {
						data: ['在家', '在公司', '在回家路上', '在上班路上'],
					},
					xAxis: [{
						type: 'category',
						data: homeOfficeData.category,
					}],
					yAxis: [{
						type: 'value',
						axisLabel: {
							formatter: '{value} 次',
						},
					}],
					series: [{
						name: '在家',
						type: 'line',
						data: homeOfficeData.atHomeData,
						markPoint: {
							data: [{
								type: 'max',
								name: '最大值'
							}, {
								type: 'min',
								name: '最小值'
							}]
						},
						itemStyle: {
							normal: {
								color: '#0080ff',
							},
						},
					}, {
						name: '在公司',
						type: 'line',
						data: homeOfficeData.atOfficeData,
						markPoint: {
							data: [{
								type: 'max',
								name: '最大值'
							}, {
								type: 'min',
								name: '最小值'
							}]
						},
						itemStyle: {
							normal: {
								color: '#00acc1',
							},
						},
					}, {
						name: '在回家路上',
						type: 'line',
						data: homeOfficeData.toHomeData,
						markPoint: {
							data: [{
								type: 'max',
								name: '最大值'
							}, {
								type: 'min',
								name: '最小值'
							}]
						},
						itemStyle: {
							normal: {
								color: '#f8b62d',
							},
						},
					}, {
						name: '在上班路上',
						type: 'line',
						data: homeOfficeData.toOfficeData,
						markPoint: {
							data: [{
								type: 'max',
								name: '最大值'
							}, {
								type: 'min',
								name: '最小值'
							}]
						},
						itemStyle: {
							normal: {
								color: '#918bd5',
							},
						},
					}]
				};
				// 为echarts对象加载数据 
				homeOfficeChart.setOption(option);
			}
		);
		// 自适应
		$(window).resize(function() {
			homeOfficeChart.resize();
		});
	};
	// 加载动作图表
	function loadActionChart() {
		// 使用
		require(
			[
				'echarts',
				'echarts/chart/line',
				'echarts/chart/bar',
			],
			function(ec) {
				// 基于准备好的dom，初始化echarts图表
				actionChart = ec.init(document.getElementById('actionChart'));
				option = {
					title: {
						text: '动作状态平均时长统计图',
					},
					legend: {
						data: ['个人数据', '平均水平'],
					},
					tooltip: {
						trigger: 'axis',
						formatter: '{b} : {c} 分钟',
					},
					toolbox: {
						show: false,
						feature: {
							magicType: {
								show: true,
								type: ['line', 'bar']
							},
							restore: {
								show: true
							},
							saveAsImage: {
								show: true
							}
						}
					},
					xAxis: [{
						type: 'category',
						data: actionData.category,
					}],
					yAxis: [{
						type: 'value',
						axisLabel: {
							formatter: '{value} 分钟',
						},
					}],
					series: [{
						name: '个人数据',
						type: 'bar',
						barMaxWidth: 30,
						data: actionData.data,
						markPoint: {
							data: [{
								type: 'max',
								name: '最大值'
							}, {
								type: 'min',
								name: '最小值'
							}],
							itemStyle: {
								normal: {
									color: '#00acc1',
								},
							},
						},
						itemStyle: {
							normal: {
								color: '#00acc1',
							},
						},
					}, {
						name: '平均水平',
						type: 'bar',
						barMaxWidth: 30,
						data: actionData.data,
						markPoint: {
							data: [{
								type: 'max',
								name: '最大值'
							}, {
								type: 'min',
								name: '最小值'
							}],
							itemStyle: {
								normal: {
									color: '#918bd5',
								},
							},
						},
						itemStyle: {
							normal: {
								color: '#918bd5',
							},
						},
					}, ]
				};
				// 为echarts对象加载数据 
				actionChart.setOption(option);
			}
		);
		// 自适应
		$(window).resize(function() {
			actionChart.resize();
		});
	};
	// 加载地点图表
	function loadLocationChart() {
		// 使用
		require(
			[
				'echarts',
				'echarts/chart/map',
			],
			function(ec) {
				// 基于准备好的dom，初始化echarts图表
				locationChart = ec.init(document.getElementById('locationChart'));
				option = {
					title: {
						text: '地点统计图',
					},
					tooltip: {
						trigger: 'item',
						formatter: '{b}'
					},
					toolbox: {
						show: false,
						orient: 'vertical',
						x: 'right',
						y: 'top',
						feature: {
							restore: {
								show: true
							},
							saveAsImage: {
								show: true
							}
						}
					},
					series: [{
						type: 'map',
						mapType: locationData.mapType,
						roam: false,
						hoverable: false,
						data: [],
						heatmap: {
							minAlpha: 0.1,
							data: locationData.data
						},
						itemStyle: {
							normal: {
								borderColor: 'rgba(255,255,255,0.6)',
								borderWidth: 1,
								areaStyle: {
									color: '#dbdbdb'
								}
							}
						}
					}]
				};
				// 为echarts对象加载数据 
				locationChart.setOption(option);
			}
		);
		// 自适应
		$(window).resize(function() {
			locationChart.resize();
		});
	};
	// 加载详细日志
	function loadDetailLog() {
		// 清除历史数据
		$('.logRow').remove();
		// 加载数据
		for (var i = (pageIndex - 1) * perPageCount; i < pageIndex * perPageCount && i < detailData.data.length; i++) {
			var obj = $('#detailTrHidden').clone();
			obj.removeAttr('id');
			obj.removeClass('hidden');
			obj.addClass('logRow');
			obj.find('.time').html(detailData.data[i].time);
			obj.find('.sence').html(detailData.data[i].sence);
			obj.find('.status').html(detailData.data[i].status);
			obj.find('.action').html(detailData.data[i].action);
			$('#detailTrHidden').after(obj);
		}
	};
</script>

{% endblock %}