{% extends 'base.html' %}
{% block content %}
  <div id="container" class="container"> 
   <div id="content" class="content" style="margin-top: 40px;"> 
    <div class="relative" style="padding: 5px;">
      <div id="marriageMap" style="height:350px;border:1px solid #ccc;"></div>
    </div>
    <div class="relative" style="padding: 5px;">
      <div id="pregnantMap" style="height:350px;border:1px solid #ccc;"></div>
    </div>
   </div> 
  </div>
<script>
var profile = JSON.parse({{ option|tojson|safe }});
(function() {
    var marriageMapOption = {
        title : {
            text: '婚姻情况',
            subtext: '',
            x:'center'
        },
        tooltip : {
            show: true,
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient : 'vertical',
            x : 'left',
            y : '60',
            data: profile.data.marriage.category
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: false},
                dataView : {show: false, readOnly: false},
                magicType : {
                    show: false,
                    type: ['pie', 'funnel'],
                    option: {
                        funnel: {
                            x: '25%',
                            width: '50%',
                            funnelAlign: 'center',
                            max: 1548
                        }
                    }
                },
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        series : [
            {
                name:'婚姻情况',
                type:'pie',
                radius : ['50%', '65%'],
                itemStyle : {
                    normal : {
                        label : {
                            show : false
                        },
                        labelLine : {
                            show : false
                        }
                    },
                    emphasis : {
                        label : {
                            show : true,
                            position : 'center',
                            textStyle : {
                                fontSize : '30',
                                fontWeight : 'bold'
                            }
                        }
                    }
                },
                data:[
                    {value: profile.data.marriage.series[0], name: profile.data.marriage.category[0]},
                    {value: profile.data.marriage.series[1], name: profile.data.marriage.category[1]},
                    {value: profile.data.marriage.series[2], name: profile.data.marriage.category[2]}
                ]
            }
        ]
    };

    var pregnantMapOption = {
        title : {
            text: '怀孕情况',
            subtext: '',
            x:'center'
        },
        tooltip : {
            show: true,
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient : 'vertical',
            x : 'left',
            y : '60',
            data: profile.data.pregnant.category
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: false},
                dataView : {show: false, readOnly: false},
                magicType : {
                    show: false,
                    type: ['pie', 'funnel'],
                    option: {
                        funnel: {
                            x: '25%',
                            width: '50%',
                            funnelAlign: 'center',
                            max: 1548
                        }
                    }
                },
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        series : [
            {
                name:'怀孕情况',
                type:'pie',
                radius : ['50%', '65%'],
                itemStyle : {
                    normal : {
                        label : {
                            show : false
                        },
                        labelLine : {
                            show : false
                        }
                    },
                    emphasis : {
                        label : {
                            show : true,
                            position : 'center',
                            textStyle : {
                                fontSize : '30',
                                fontWeight : 'bold'
                            }
                        }
                    }
                },
                data:[
                    {value: profile.data.pregnant.series[0], name: profile.data.pregnant.category[0]},
                    {value: profile.data.pregnant.series[1], name: profile.data.pregnant.category[1]},
                    {value: profile.data.pregnant.series[2], name: profile.data.pregnant.category[2]}
                ]
            }
        ]
    };

    require(['echarts', 'echarts/chart/bar', 'echarts/chart/line', 'echarts/chart/map', 'echarts/chart/pie', 'echarts/chart/scatter'],
    function(ec) {
        // 结婚render
        if(!document.getElementById('marriageMap')){
            return;
        }
        var marriageMap = ec.init(document.getElementById('marriageMap'));
        marriageMap.setOption(marriageMapOption);

        $(window).resize(function () {
            marriageMap.resize();
        });

        // 怀孕情况
        if(!document.getElementById('pregnantMap')){
            return;
        }
        var pregnantMap = ec.init(document.getElementById('pregnantMap'));
        pregnantMap.setOption(pregnantMapOption);

        $(window).resize(function () {
            pregnantMap.resize();
        });
    });
}).call(this);
</script>
{% endblock %}