<!DOCTYPE html>
<html class="no-js" lang="en">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="x-ua-compatible" content="ie=edge" /> 
  <title>Dashboard</title> 
  <meta name="description" content="" /> 
  <meta name="description" content="" /> 
  <meta name="keywords" content="css3, github, html5" /> 
  <meta property="og:title" content="Dashboard" /> 
  <meta property="og:description" content="Dashboard" /> 
  <meta property="og:url" content="" /> 
  <!-- <meta property="og:image" content="/images/ta.png" /> --> 
  <meta property="og:site_name" content="Dashboard" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
  <script src="{{ url_for('static', filename='lib/jquery-2.1.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/echarts-2.2.7/build/dist/echarts.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
 </head>
 <body>
 {% block header %}
    <div id="header" class="header">
   <h2 class="site-title"><a href="./">Senz</a></h2>
   <div class="inline-block">
    <form action="/some_api" method="get">
      <select name="select_app" class="select_app" id="select_app">
       <option value="app1">App1</option>
       <option value="app2">App2</option>
       <option value="app3">App3</option>
      </select>
    </form>
   </div>
   <nav class="main-nav">
     <ul class="list">
       <li class="item"><a href="/dashboard">统计分析</a></li>
       <li class="item"><a href="#">SDK集成</a></li>
       <li class="item"><a href="#">设置</a></li>
       <li class="item"><a href="/panel">调试</a></li>
     </ul>
   </nav>
  </div>
 {% endblock %}

 {% block navigation %}
   <div id="sidebar" class="sidebar">
   <ul id="sidebar-nav">
    <li class="active"><a href="/dashboard">概览</a></li>
    <li class="has-sub-nav"> <a href="#">用户群体</a>
     <ul class="sub-nav">
      <li><a href="/dashboard/profile">用户属性</a></li>
      <li><a href="/dashboard/interest">兴趣爱好</a></li>
      <li><a href="/dashboard/marriage">婚育情况</a></li>
      <li><a href="/dashboard/consumption">消费情况</a></li>
      <li><a href="/dashboard/location">地理位置</a></li>
     </ul>
    </li>
    <li><a href="/dashboard/motion">情景</a></li>
    <li><a href="/dashboard/event">事件</a></li>
   </ul>
  </div>
 {% endblock %}

 {% block content %}{% endblock %}
 </body>
</html>