<!DOCTYPE html>
<html class="no-js" lang="en">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="x-ua-compatible" content="ie=edge" /> 
  <title>Dashboard</title> 
  <meta name="description" content="" /> 
  <meta name="description" content="" /> 
  <meta name="keywords" content="css3, github, html5" /> 
  <meta property="og:title" content="Dashboard" /> 
  <meta property="og:description" content="Dashboard" /> 
  <meta property="og:url" content="" /> 
  <!-- <meta property="og:image" content="/images/ta.png" /> --> 
  <meta property="og:site_name" content="Dashboard" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
  <script src="{{ url_for('static', filename='lib/jquery-2.1.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/echarts-2.2.7/build/dist/echarts.js') }}"></script>
{#  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">#}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{#  <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>#}
  <script>
      require.config({
            paths: {
                echarts: "{{ url_for('static', filename='lib/echarts-2.2.7/build/dist') }}"
            }
        });
  </script>
  {% block app_select %}
  <script>
      var post_url = function(elm){
        $.post("/", {app_id: elm.value});
      };
  </script>
  {% endblock %}
 </head>
 <body>
 {% block header %}
   <div id="header" class="header">
   <h2 class="site-title"><a href="/">Senz</a></h2>
   {% block app_list %}
    <div class="inline-block">
      <select name="select_app" class="select_app" id="select_app" onchange="post_url(this)">
          {% if app_list %}
              {% for item in app_list %}
                <option value={{ item['app_key'] }}>{{ item['app_name'] }}</option>
              {% endfor %}
          {% else %}
              <option value='5621fb0f60b27457e863fabb'>Demo</option>
          {% endif %}
      </select>
   </div>
   {% endblock %}
   {% block main_nav %}
   <nav class="main-nav">
     <ul class="list">
       <li class="item"><a href="{{ url_for('dashboard.show') }}">统计分析</a></li>
       <li class="item"><a href="{{ url_for('integration.show') }}">SDK集成</a></li>
       <li class="item"><a href="{{ url_for('settings.show') }}">设置</a></li>
       <li class="item"><a href="{{ url_for('panel.show') }}">调试</a></li>
     </ul>
   </nav>

   <div class="main-nav main-nav-auth-wrap">
   {% if username %}
   <div id="account">
     <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ username }}
          </button>
          <ul class="list">
            <li class="item"><a href="{{ url_for('login_view.logout') }}">注销</a></li>
          </ul>
        </div>
   </div>
   {% else %}
    <ul class="list">
        <li class="item"><a href="{{ url_for('login_view.login') }}">登录</a></li>
        <li class="item"><a href="{{ url_for('login_view.signup') }}">注册</a></li>
    </ul>
   {% endif %}
   </div>
   {% endblock %}
  </div>
 {% endblock %}

 {% block navigation %}
   <div id="sidebar" class="sidebar">
   <ul id="sidebar-nav">
    <li class="active"><a href="{{ url_for('dashboard.show') }}">概览</a></li>
    <li class="has-sub-nav"> <a href="#">用户群体</a>
     <ul class="sub-nav">
      <li><a href="{{ url_for('dashboard.profile') }}">用户属性</a></li>
      <li><a href="{{ url_for('dashboard.interest') }}">兴趣爱好</a></li>
      <li><a href="{{ url_for('dashboard.marriage') }}">婚育情况</a></li>
      <li><a href="{{ url_for('dashboard.consumption') }}">消费情况</a></li>
      <li><a href="{{ url_for('dashboard.location') }}">地理位置</a></li>
     </ul>
    </li>
    <li><a href="{{ url_for('dashboard.motion') }}">情境</a></li>
   </ul>
  </div>
 {% endblock %}

 {% block content %}{% endblock %}
 </body>
</html>