* {
margin:0;
padding:0;
}
a {
color:#1E7ACE;
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
h3 {
font-size:14px;
font-weight:bold;
}
pre,p {
/*color:#1E7ACE;*/
margin:4px;
}
input, select,textarea {
padding:1px;
margin:2px;
font-size:11px;
}
.buttom{
padding:1px 10px;
font-size:12px;
border:1px #1E7ACE solid;
background:#D0F0FF;
}
#formwrapper {
	width:450px;
	margin:150px auto;
	padding:30px 20px;
	text-align:left;
	background: #fff;
}
#formwrapper .title {
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	width: 320px;
	margin: 0 auto;
	color: #444;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	color: inherit;
}
#formwrapper .title a {
	color: inherit;
}
#formwrapper .item {
	height: 40px;
	line-height: 40px;
	text-align: center;
}
#formwrapper .item input {
	width: 300px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	outline: none;
	font-size: 14px;
	border: none;
	background: #ddd;
	border-radius: 6px;
}
#formwrapper .item input.button {
	background: rgba(28,172,192,1);
	width: 320px;
	color: #fff;
}
#formwrapper .item input.checkbox {
	width: 15px;
    height: 13px;
}
fieldset {
padding:10px;
margin-top:5px;
border:1px solid #A4CDF2;
background:#fff;
}
fieldset legend {
color:#1E7ACE;
font-weight:bold;
padding:3px 20px 3px 20px;
border:1px solid #A4CDF2;
background:#fff;
}
fieldset label {
float:left;
width:120px;
text-align:right;
padding:4px;
margin:1px;
}
fieldset div {
clear:left;
margin-bottom:2px;
}
.enter{ text-align:center;}
.clear {
clear:both;
}