{% extends 'base.html' %}
{% block content %}
  <div id="container" class="container"> 
   <div id="content" class="content" style="margin-top: 40px;"> 
    <div class="map-list">
        <div class="relative item" style="padding: 5px;">
          <div id="locationMap" style="height:600px;border:1px solid #ccc;"></div>
        </div>

        <div class="relative item" style="padding: 5px;">
          <div id="Map2" style="height:600px;border:1px solid #ccc;"></div>
        </div>
    </div>
    <div id="sort-wrap" class="sort-wrap">
      <ul class="nav-list">
        <li class="item active inline-block">省份</li>
        <li class="item inline-block">城市</li>
      </ul>
      <div class="list">
        <ol class="ol hide">
          <!-- <li><span>河南</span><span class="line line1" data-val="300"></span></li>
          <li><span>山东</span><span class="line line2" data-val="300"></span></li>
          <li><span>河北</span><span class="line line3"data-val="300"></span></li>
          <li><span>北京</span><span class="line line4" data-val="300"></span></li>
          <li><span>辽宁</span><span class="line line5"  data-val="300"></span></li>
          <li><span>广东</span><span class="line line6"  data-val="300"></span></li>
          <li><span>广西</span><span class="line line7" data-val="300"></span></li>
          <li><span>天津</span><span class="line line8"  data-val="300"></span></li>
          <li><span>山西</span><span class="line line9"  data-val="300"></span></li>
          <li><span>浙江</span><span class="line line10" data-val="300"></span></li> -->
        </ol>
        <ol class="ol hide">
          <!-- <li><span>北京</span><span class="line line1" data-val="300"></span></li>
          <li><span>上海</span><span class="line line2" data-val="300"></span></li>
          <li><span>郑州</span><span class="line line3" data-val="300"></span></li>
          <li><span>南京</span><span class="line line4" data-val="300"></span></li>
          <li><span>深圳</span><span class="line line5" data-val="300"></span></li>
          <li><span>广州</span><span class="line line6" data-val="300"></span></li>
          <li><span>成都</span><span class="line line7" data-val="300"></span></li>
          <li><span>重庆</span><span class="line line8" data-val="300"></span></li>
          <li><span>大连</span><span class="line line9" data-val="300"></span></li>
          <li><span>杭州</span><span class="line line10" data-val="300"></span></li> -->
        </ol>
      </div>
    </div>
   </div> 
  </div>
 <script>
 var locationData = JSON.parse({{ option | tojson }});
(function() {
    $sortWrap = $("#sort-wrap");
    $mapWrap = $(".map-list");

    $sortWrap.on("click", ".item", function(e) {
        var $this = $(this);
        var index = $this.index();
        $this
            .addClass("active")
            .siblings().removeClass("active");

        $sortWrap.find(".list .ol")
            .hide()
            .eq(index).show()
        $mapWrap.find(".item")
            .hide()
            .eq(index).show();
    })    

    var locationMapOption = {
        title : {
            text: '地理位置',
            subtext: '分布指数',
            x:'center'
        },
        tooltip : {
            trigger: 'item'
        },
        legend: {
            show: false,
            orient: 'vertical',
            x:'left',
            data:['分布指数']
        },
        // dataRange: {
        //     min: 0,
        //     max: 2500,
        //     x: 'left',
        //     y: 'bottom',
        //     text:['高','低'],           // 文本，默认为数值文本
        //     calculable : true
        // },
        dataRange: {
            x: '85%',
            y: '45%',
            // min: 0,
            // max: 20000,
            splitList: [
                {start: 998, end: 1000, label: '广东'},
                {start: 996, end: 998, label: '河南'},
                {start: 994, end: 996, label: '山东'},
                {start: 992, end: 994, label: '湖北'},
                {start: 990, end: 992, label: '江苏'},
                {start: 898, end: 990, label: '浙江'},
                {start: 896, end: 898, label: '湖南'}
            ],
            // color: ['#E0022B', '#E09107', '#A3E00B'],
            // selectedMode: 'single'
            //text:['高','低']
        },
        toolbox: {
            show: true,
            orient : 'vertical',
            x: 'left',
            y: 'center',
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        roamController: {
            show: true,
            x: 'right',
            mapTypeControl: {
                'china': true
            }
        },
        series : [
            {
                name: '分布排名',
                type: 'map',
                mapType: 'china',
                roam: false,
                itemStyle:{
                    normal:{label:{show:true}},
                    emphasis:{label:{show:true}}
                },
                data: locationData.data.province
            }
        ]
    };

    var locationMapOption2 = {
        title : {
            text: '地理位置',
            subtext: '分布指数',
            x:'center'
        },
        tooltip : {
            trigger: 'item'
        },
        legend: {
            show: false,
            orient: 'vertical',
            x:'left',
            data:['分布指数']
        },
{#         dataRange: {#}
{#             min: 0,#}
{#             max: 2500,#}
{#             x: 'left',#}
{#             y: 'bottom',#}
{#             text:['高','低'],           // 文本，默认为数值文本#}
{#             calculable : true#}
{#         },#}
        dataRange: {
            x: '85%',
            y: '45%',
            // min: 0,
            // max: 20000,
            splitList: [
                {start: 195, end: 200, label: '广州'},
                {start: 190, end: 195, label: '上海'},
                {start: 185, end: 190, label: '武汉'},
                {start: 180, end: 185, label: '天津'},
                {start: 175, end: 180, label: '成都'},
                {start: 170, end: 175, label: '重庆'},
                {start: 165, end: 170, label: '深圳'}
            ]
        },
        toolbox: {
            show: true,
            orient : 'vertical',
            x: 'left',
            y: 'center',
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        roamController: {
            show: true,
            x: 'right',
            mapTypeControl: {
                'china': true
            }
        },
        series : [
            {
                name: '分布排名',
                type: 'map',
                mapType: 'china',
                roam: false,
                itemStyle:{
                    normal:{label:{show:true}},
                    emphasis:{label:{show:true}}
                },
                data: locationData.data.city
            }
        ]
    };

    require(['echarts', 'echarts/chart/map'],
    function(ec) {
        // 地理位置
        if(!document.getElementById('locationMap')){
            return;
        }
        var locationMap = ec.init(document.getElementById('locationMap'));
        locationMap.setOption(locationMapOption);

        var locationMap2 = ec.init(document.getElementById('Map2'));
        locationMap2.setOption(locationMapOption2);
        $mapWrap.find(".item").eq(1).hide();
    });                  

}).call(this);
 </script>
 {% endblock %}
