{% extends 'dashboard/base.html' %}
{% block content %}
  <div id="container" class="container"> 
   <div id="content" class="content" style="padding-top: 55px;"> 
    <div class="clearfix relative" style="padding: 5px;">
      <div id="genderMap" style="width:49.5%; float: left; height:300px;border:1px solid #ccc;"></div> 
      <div id="ageMap" style="width: 49.5%; float: right; height:300px;border:1px solid #ccc;"></div> 
    </div>
    
    <div class="relative" style="padding: 5px;">
      <div id="jobMap" style="height:500px;border:1px solid #ccc;"></div>
    </div>

    <div class="relative" style="padding: 5px;">
      <div id="professionMap" style="height:500px;border:1px solid #ccc;"></div>
    </div>
   </div> 
  </div>
{% endblock %}