{% extends 'base.html' %}
{% block content %}
  <div id="container" class="container"> 
   <div id="content" class="content" style="margin-top: 40px;"> 
    <div class="map-list">
        <div class="relative item" style="padding: 5px;">
          <div id="locationMap" style="height:600px;border:1px solid #ccc;"></div>
        </div>

        <div class="relative item" style="padding: 5px;">
          <div id="Map2" style="height:600px;border:1px solid #ccc;"></div>
        </div>
    </div>
    <div id="sort-wrap" class="sort-wrap">
      <ul class="nav-list">
        <li class="item active inline-block">省份</li>
        <li class="item inline-block">城市</li>
      </ul>
      <div class="list">
        <ol class="ol hide">
          <!-- <li><span>河南</span><span class="line line1" data-val="300"></span></li>
          <li><span>山东</span><span class="line line2" data-val="300"></span></li>
          <li><span>河北</span><span class="line line3"data-val="300"></span></li>
          <li><span>北京</span><span class="line line4" data-val="300"></span></li>
          <li><span>辽宁</span><span class="line line5"  data-val="300"></span></li>
          <li><span>广东</span><span class="line line6"  data-val="300"></span></li>
          <li><span>广西</span><span class="line line7" data-val="300"></span></li>
          <li><span>天津</span><span class="line line8"  data-val="300"></span></li>
          <li><span>山西</span><span class="line line9"  data-val="300"></span></li>
          <li><span>浙江</span><span class="line line10" data-val="300"></span></li> -->
        </ol>
        <ol class="ol hide">
          <!-- <li><span>北京</span><span class="line line1" data-val="300"></span></li>
          <li><span>上海</span><span class="line line2" data-val="300"></span></li>
          <li><span>郑州</span><span class="line line3" data-val="300"></span></li>
          <li><span>南京</span><span class="line line4" data-val="300"></span></li>
          <li><span>深圳</span><span class="line line5" data-val="300"></span></li>
          <li><span>广州</span><span class="line line6" data-val="300"></span></li>
          <li><span>成都</span><span class="line line7" data-val="300"></span></li>
          <li><span>重庆</span><span class="line line8" data-val="300"></span></li>
          <li><span>大连</span><span class="line line9" data-val="300"></span></li>
          <li><span>杭州</span><span class="line line10" data-val="300"></span></li> -->
        </ol>
      </div>
    </div>
   </div> 
  </div>
 <script>
 var locationData = JSON.parse({{ option | tojson |safe}});
(function() {
    function down(x, y) {
      return (x.value < y.value) ? 1 : -1
    }

    $sortWrap = $("#sort-wrap");
    $mapWrap = $(".map-list");

    $sortWrap.on("click", ".item", function(e) {
        var $this = $(this);
        var index = $this.index();
        $this
            .addClass("active")
            .siblings().removeClass("active");

        $sortWrap.find(".list .ol")
            .hide()
            .eq(index).show()
        $mapWrap.find(".item")
            .hide()
            .eq(index).show();
    })    

    var provice = locationData.data.province.sort(down);
    var city = locationData.data.city.sort(down);

    var locationMapOption = {
        title : {
            text: '地理位置',
            subtext: '分布指数',
            x:'center'
        },
        tooltip : {
            trigger: 'item'
        },
        legend: {
            show: false,
            orient: 'vertical',
            x:'left',
            data:['分布指数']
        },
        // dataRange: {
        //     min: 0,
        //     max: 2500,
        //     x: 'left',
        //     y: 'bottom',
        //     text:['高','低'],           // 文本，默认为数值文本
        //     calculable : true
        // },
        dataRange: {
            x: '85%',
            y: '45%',
            // min: 0,
            // max: 20000,
            splitList: [
                {start: provice[0].value, end: provice[0].value, label: provice[0].name },
                {start: provice[1].value, end: provice[1].value, label: provice[1].name},
                {start: provice[2].value, end: provice[2].value, label: provice[2].name},
                {start: provice[3].value, end: provice[3].value, label: provice[3].name},
                {start: provice[4].value, end: provice[4].value, label: provice[4].name},
                {start: provice[5].value, end: provice[5].value, label: provice[5].name},
                {start: provice[6].value, end: provice[6].value, label: provice[6].name}
            ],
            // color: ['#E0022B', '#E09107', '#A3E00B'],
            // selectedMode: 'single'
            //text:['高','低']
        },
        toolbox: {
            show: true,
            orient : 'vertical',
            x: 'left',
            y: 'center',
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        roamController: {
            show: true,
            x: 'right',
            mapTypeControl: {
                'china': true
            }
        },
        series : [
            {
                name: '分布指数',
                type: 'map',
                mapType: 'china',
                roam: false,
                itemStyle:{
                    normal:{label:{show:true}},
                    emphasis:{label:{show:true}}
                },
                data: locationData.data.province.sort(down)
            }
        ]
    };

    var locationMapOption2 = {
        title : {
            text: '地理位置',
            subtext: '分布指数',
            x:'center'
        },
        tooltip : {
            trigger: 'item'
        },
        legend: {
            show: false,
            orient: 'vertical',
            x:'left',
            data:['分布指数']
        },
        // dataRange: {
        //     min: 0,
        //     max: 2500,
        //     x: 'left',
        //     y: 'bottom',
        //     text:['高','低'],           // 文本，默认为数值文本
        //     calculable : true
        // },
        dataRange: {
            x: '85%',
            y: '45%',
            // min: 0,
            // max: 20000,
            splitList: [
                {start: city[0].value, end: city[0].value, label: city[0].name },
                {start: city[1].value, end: city[1].value, label: city[1].name },
                {start: city[2].value, end: city[2].value, label: city[2].name },
                {start: city[3].value, end: city[3].value, label: city[3].name },
                {start: city[4].value, end: city[4].value, label: city[4].name },
                {start: city[5].value, end: city[5].value, label: city[5].name },
                {start: city[6].value, end: city[6].value, label: city[6].name }
            ],
            // color: ['#E0022B', '#E09107', '#A3E00B'],
            // selectedMode: 'single'
            //text:['高','低']
        },
        toolbox: {
            show: true,
            orient : 'vertical',
            x: 'left',
            y: 'center',
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        roamController: {
            show: true,
            x: 'right',
            mapTypeControl: {
                'china': true
            }
        },
        series : [
            {
                name: '分布指数',
                type: 'map',
                mapType: 'china',
                roam: false,
                itemStyle:{
                    normal:{label:{show:true}},
                    emphasis:{label:{show:true}}
                },
                data: locationData.data.city.sort(down)
            }
        ]
    };

    require(['echarts', 'echarts/chart/map'],
    function(ec) {
        // 地理位置
        if(!document.getElementById('locationMap')){
            return;
        }
        var locationMap = ec.init(document.getElementById('locationMap'));
        locationMap.setOption(locationMapOption);

        var locationMap2 = ec.init(document.getElementById('Map2'));
        locationMap2.setOption(locationMapOption2);
        $mapWrap.find(".item").eq(1).hide();
    });                  

}).call(this);
 </script>
 {% endblock %}
