{% extends 'base.html' %}
{% block content %}
  <div id="container" class="container"> 
   <div id="content" class="content" style="padding-top: 55px;"> 
    
    <div class="relative" style="padding: 5px;">
      <div id="consumerAbilityMap" style="height:400px;border:1px solid #ccc;"></div>
    </div>

    <div class="clearfix relative" style="padding: 5px;">
      <div id="carMap" style="width:49.5%; float: left; height:300px;border:1px solid #ccc;"></div> 
      <div id="petMap" style="width: 49.5%; float: right; height:300px;border:1px solid #ccc;"></div> 
    </div>
   </div> 
  </div>
{% endblock %}