{% extends 'base.html' %}
{% block app_list %}{% endblock %}
{% block main_nav %}{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
    <div id="container" class="container">
    <div id="content" class="content single-content pd40 bg-gray" style="margin-top: 40px;">
        <div id="formwrapper">
            <form action="{{ url_for('accounts_bp.signup') }}" method="post" name="apLogin" id="apLogin">
                <div class="title clearfix">
                    <span class="left"><a href="/login">登录</a></span>
                    <span class="right"><a class="active" href="/signup">注册</a></span>
                </div>
                <div class="item">
                    <input type="text" placeholder="用户名" name="username" id="username" size="20" maxlength="30" />
                </div>
                <div class="item">
                    <input type="text" placeholder="邮箱" name="email" id="email" value="" size="20" maxlength="150" />
                </div>
                <div class="item">
                    <input type="password" placeholder="密码" name="password" id="password" size="20" maxlength="30" />
                </div>
                <div class="item cookiechk">
                    <input name="register-submit" type="submit" class="button" value="提交" />
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}